code {
    background: rgba(0,0,0,0.9) !important;
    border: 1px solid rgba(255,255,255,0.15) !important;
    padding: 10px !important;
    font-size: 16px !important;
    color: #b5e853 !important;
    border-radius: 2px !important;
    word-wrap: normal !important;
    overflow: auto !important;
    overflow-y: hidden !important;
}
